<a href="https://colab.research.google.com/github/hoangnuthuphuong/python/blob/Phuong/btchuong3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 =['physics', 'chemistry', 1997, 2000]
list2 =[1, 2, 3, 4, 5]
list3 =["a", "b", "c", "d"]
list2= list2+[6, 7]
print("list1[0]: ",list1[0])
print("list2[1:5]: ",list2[1:5])

list=['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :
1997
New value available at index 2 :
2001
['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)

tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)
(12, 34.56, 'abc', 'xyz')
('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8
dict['School'] = "DPS School"
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']
dict.clear() 
del dict

dict['Name']:  Zara
dict['Age']:  7
dict['Age']:  8
dict['School']:  DPS School

In [ ]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)

people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

#bot phan tu
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

#xoa toan bo
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print("\nSet after using clear() function")
print(set1)

#phep hop
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

population = people.union(vampires)
print("Union using union() function")
print(population)

population = people|dracula
print("\nUnion using '|' operator")
print(population)

#phep giao
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)

set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

#phep hieu
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)

set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

#kiem tra tap hop con-cha
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

IndentationError: ignored

In [ ]:
#lay thoi gian hien tai
import time
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

#dinh dang thoi gian
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)


# lay lich mot thang
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Number of ticks since 12:00am, January 1, 1970: 1632964605.9545362
Local current time : time.struct_time(tm_year=2021, tm_mon=9, tm_mday=30, tm_hour=1, tm_min=16, tm_sec=45, tm_wday=3, tm_yday=273, tm_isdst=0)
Local current time : Thu Sep 30 01:16:45 2021
Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31