<a href="https://colab.research.google.com/github/hoangnuthuphuong/python/blob/Phuong/pandas02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

**Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:**
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

In [ ]:
ho_va_ten = pd.Series(["Hoàng Nữ Thu Phương","Hoàng Văn A","Hoàng Văn B","Hoàng Văn C","Hoàng Văn D","Hoàng Văn E","Hoàng Văn F","Hoàng Văn G","Hoàng Văn H","Hoàng Văn I"])
ngay_sinh = pd.Series(["17/09/2003","01/02/2003","11/22/2003","01/03/2003","01/12/2003","12/01/2003","01/02/2003","11/22/2003","01/03/2003","01/12/2003"])
tien_cong  = pd.Series([100,200,300,400,500,600,700,800,900,1000])
so_h_cong = pd.Series([1,2,3,4,5,6,8,7,8,9])
thuc_linh = pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [ ]:
a = pd.DataFrame({"Họ và tên":ho_va_ten,"Ngày sinh":ngay_sinh,"Tiền công/giờ":tien_cong,"Số giờ công": so_h_cong,"Thực lĩnh":thuc_linh})
a["Thực lĩnh"]= a["Số giờ công"]* a["Tiền công/giờ"]
a

             Họ và tên   Ngày sinh  Tiền công/giờ  Số giờ công  Thực lĩnh
0  Hoàng Nữ Thu Phương  17/09/2003            100            1        100
1          Hoàng Văn A  01/02/2003            200            2        400
2          Hoàng Văn B  11/22/2003            300            3        900
3          Hoàng Văn C  01/03/2003            400            4       1600
4          Hoàng Văn D  01/12/2003            500            5       2500
5          Hoàng Văn E  12/01/2003            600            6       3600
6          Hoàng Văn F  01/02/2003            700            8       5600
7          Hoàng Văn G  11/22/2003            800            7       5600
8          Hoàng Văn H  01/03/2003            900            8       7200
9          Hoàng Văn I  01/12/2003           1000            9       9000

**Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:**
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [ ]:
ho_va_ten = ["Hoàng Nữ Thu Phương","Hoàng Văn A","Hoàng Văn B","Hoàng Văn C","Hoàng Văn D","Hoàng Văn E","Hoàng Văn F","Hoàng Văn G","Hoàng Văn H","Hoàng Văn I"]
tuoi =[18,19,20,21,22,23,24,25,26,27]
gioi_tinh = ["nữ","nam","nữ","nam","nữ","nam","nữ","nam","nữ","nam"]
b = pd.DataFrame(np.array([ho_va_ten,tuoi,gioi_tinh]).T,columns =["Họ và tên","Tuổi","Giới tính"])
b

             Họ và tên Tuổi Giới tính
0  Hoàng Nữ Thu Phương   18        nữ
1          Hoàng Văn A   19       nam
2          Hoàng Văn B   20        nữ
3          Hoàng Văn C   21       nam
4          Hoàng Văn D   22        nữ
5          Hoàng Văn E   23       nam
6          Hoàng Văn F   24        nữ
7          Hoàng Văn G   25       nam
8          Hoàng Văn H   26        nữ
9          Hoàng Văn I   27       nam

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [ ]:
ho_va_ten = ["Hoàng Nữ Thu Phương","Hoàng Văn A","Hoàng Văn B","Hoàng Văn C","Hoàng Văn D","Hoàng Văn E","Hoàng Văn F","Hoàng Văn G","Hoàng Văn H","Hoàng Văn I"]
tuoi =[18,19,20,21,22,23,24,25,26,27]
gioi_tinh = ["nữ","nam","nữ","nam","nữ","nam","nữ","nam","nữ","nam"]
c= pd.DataFrame({"Họ và tên": ho_va_ten,"Tuổi": tuoi,"Giới tính":gioi_tinh})
c

             Họ và tên  Tuổi Giới tính
0  Hoàng Nữ Thu Phương    18        nữ
1          Hoàng Văn A    19       nam
2          Hoàng Văn B    20        nữ
3          Hoàng Văn C    21       nam
4          Hoàng Văn D    22        nữ
5          Hoàng Văn E    23       nam
6          Hoàng Văn F    24        nữ
7          Hoàng Văn G    25       nam
8          Hoàng Văn H    26        nữ
9          Hoàng Văn I    27       nam

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [ ]:
d = pd.DataFrame([{"Họ và tên":"Hoàng Nữ Thu Phương","Tuổi":18,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn A","Tuổi":19 ,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn B","Tuổi":20,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn C","Tuổi":21,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn D","Tuổi":22,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn E","Tuổi":23,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn F","Tuổi":24,"Giới tính":"nữ"},{"Họ và tên":"Hoàng Văn G","Tuổi":18,"Giới tính":"nam "},{"Họ và tên":"Hoàng Văn H","Tuổi":25,"Giới tính":"nam"},{"Họ và tên":"Hoàng Văn I","Tuổi":26 ,"Giới tính":"nam"}])
d

             Họ và tên  Tuổi Giới tính
0  Hoàng Nữ Thu Phương    18        nữ
1          Hoàng Văn A    19        nữ
2          Hoàng Văn B    20        nữ
3          Hoàng Văn C    21        nữ
4          Hoàng Văn D    22        nữ
5          Hoàng Văn E    23        nữ
6          Hoàng Văn F    24        nữ
7          Hoàng Văn G    18      nam
8          Hoàng Văn H    25       nam
9          Hoàng Văn I    26       nam

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [ ]:
e = pd.DataFrame(zip(ho_va_ten, tuoi, gioi_tinh), columns = ["Họ và tên", "Tuổi", "Giới tính"])
e

             Họ và tên  Tuổi Giới tính
0  Hoàng Nữ Thu Phương    18        nữ
1          Hoàng Văn A    19       nam
2          Hoàng Văn B    20        nữ
3          Hoàng Văn C    21       nam
4          Hoàng Văn D    22        nữ
5          Hoàng Văn E    23       nam
6          Hoàng Văn F    24        nữ
7          Hoàng Văn G    25       nam
8          Hoàng Văn H    26        nữ
9          Hoàng Văn I    27       nam